<html>
<body background="mario.jpg">
<h1>{{ansible_hostname}} is managed by Ansible</h1><br>
<h2>Welcome to host	: {{ansible_hostname}}</h2>
<h2>Host IP Address	: {{ansible_all_ipv4_addresses}} </h2>
<h2>OS Family		: {{ansible_os_family}}</h2>
<h2>Running Since	: {{ansible_uptime_seconds}}</h2>
<h2>Brought to you by	: Amit Vashist</h2>
</body>
</html>
